body {
  align-items: center;
  margin-left: 50px;
}

label {
  margin-right: 30px;
}

input {
  border: none;
  background: hsl(0 0% 93%);
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  margin-top: 20px;
}

button {
  width: 100px;
  padding: 20px;
  border: none;
  margin-right: 30px;
}
.button1 {
  background-color: #98fb98;
}
.button2 {
  background-color: #f88379;
}
.button3 {
  background-color: #7df9ff;
}
.button4 {
  background-color: red;
}
