body {
  align-items: center;
  margin-left: 50px;
  background-color: #37e2d5;
}

label {
  margin-right: 30px;
}

input {
  border: none;
  background: hsl(0 0% 93%);
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  margin-top: 20px;
}

button {
  width: 110px;
  padding: 20px;
  border: none;
  margin-right: 30px;
  border-radius: 16px;
}

caption {
  text-align: center;
  background-color: #000;
  padding: 20px;
  border: none;
  margin-right: 30px;
  border-radius: 16px;
}

caption.caption1 {
  color: #fef9a7;
}

caption.caption2 {
  color: #fac213;
}

caption.caption3 {
  color: #f77e21;
}

caption.caption4 {
  color: #d61c4e;
}

/* table,
tr,
td,
th {
  border: 1px solid black;
} */

.button1 {
  background-color: #fef9a7;
}

.button2 {
  background-color: #fac213;
}

.button3 {
  background-color: #f77e21;
}

.button4 {
  background-color: #d61c4e;
}

.table {
  float: left;
  text-align: center;
  width: 24%;
}
